.header_wrap {
  width: var(--page-wrap);
  padding-top: 70px;
  margin: 0 auto;
}

.header_running-title {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  display: flex;
  justify-content: space-between;
}

.header_title {
  font-family: var(--font-dk_courant);
  font-size: 65px;
  margin: 0;
  padding-top: 30px;
}

.header_info-circulation {
  line-height: 1;
  width: 185px;
  font-size: 22px;
  font-family: var(--font-old_newspaper);
  text-align: center;
}

.header_weekdays {
  font-size: 12px;
  text-transform: uppercase;
}

.header_publication-date {
  font-size: 10px;
  padding: 0;
  margin: 0;
}

.header_publication-number {
  text-align: center;
  font-size: 22px;
}

.header_metadata {
  display: flex;
  justify-content: space-between;
  width: var(--page-wrap);
  margin: 0 auto;
  padding: 20px 0;
  border-bottom: 2px solid var(--color-black);
}